.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.deck-selector {
  display: flex;
  gap: 1rem;
}

.deck-selector__button--active {
  border-color: #646cff;
}

.mode-selector {
  display: flex;
  gap: 1rem;
}

.mode-selector__button--active {
  border-color: #646cff;
}
